name: Test

on:
  push:
    branches:
      - 'master'
  pull_request:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

  steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build
      run: |
        cp .env.dist .env
        ln -sf docker-compose.cpu.yml docker-compose.yml
        docker-compose build

    - name: Test
      run: |
        docker-compose run --rm app python main.py